
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Quinn';
    src: url('../fonts/Quinn.ttf') format('ttf'); /* Formato moderno */
    font-weight: bold; /* Normal, bold, etc., dependendo do arquivo */
    font-style: normal;  /* Normal, italic, etc., dependendo do arquivo */
}

:root {
    font-size: 16px;
    --spacing-xs: 0.5em;
    --spacing-sm: 1em;
    --spacing-md: 2em;
    --spacing-lg: 4em;
}

:root {
    /* Spacing Variables */
    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;
  
    /* Color Variables */
    --primary: #fa3f38;
    --terciary: #2ac0e4;
    --primary-dark: #8a1b17;
    --secondary: #031841;
    --secondary-dark: #062b72;
  
    /* Color Variables (RGB Format) */
    --primary-rgb: 250, 63, 56;
    --primary-dark-rgb: 138, 27, 23;
    --secondary-rgb: 3, 24, 65;
    --secondary-dark-rgb: 6, 43, 114;
}

* {
    padding: 0;
    margin: 0;
    color: inherit;
    box-sizing: border-box !important;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: "Funnel Display", sans-serif;
}
 
body::-webkit-scrollbar {
    display: none;
}


html, body {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}

body {
    width: 100%;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.main-content {
    width: 100%;
    height: fit-content;
    min-height: 100vh;
}



.c-primary {
    color: var(--primary);
}

.underline {
    text-decoration: underline;
}

.content-title {
    font-size: clamp(1.5rem, 3vw, 3rem); /* Títulos responsivos */
}

#hero-section {
    scroll-snap-align: start;

    display: flex;
    width: 100%;
    padding: 0 0 0 clamp(var(--spacing-sm), 7%, var(--spacing-xl)); /* Espaçamento esquerdo adaptável */
    background-color: var(--secondary);
    min-height: 40em;
    height: fit-content;
    background-image: url('../images/cara-cor.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;

    .content {
        max-width: 40em;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: clamp(var(--spacing-md), 5%, var(--spacing-lg));
        padding-left: 0;
        gap: 3em;
    }

    header {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    .content-title {
        font-size: clamp(2rem, 3vw, 3rem); /* Títulos responsivos */
    }

    .content-subtitle {
        font-size: clamp(1.2rem, 1.5vw, 2em);
        color: var(--primary);
    }

    .content-phase {
        /* font-family: 'Quinn'; */
        text-transform: uppercase;
        font-size: 1em;
        font-style: italic;
        color: #fff;
        background-color: rgba(var(--primary-rgb), 0.1); /* Fundo suave */
        border-left: 5px solid var(--primary); /* Barra vertical para destaque */
        padding: 15px 20px; /* Espaçamento interno */
        margin: 20px 0; /* Margem acima e abaixo */
        border-radius: 8px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        position: relative;
        }

    .primary-button {
        min-width: 15em;
    }
}


#servicos-section {
    scroll-snap-align: start;
    padding-top: 0;
    padding: clamp(var(--spacing-sm), 7%, var(--spacing-xl)); /* Espaçamento esquerdo adaptável */
    min-height: 100vh;
    .content {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        .content-title {
            font-size: clamp(1.8rem, 3vw, 2.5rem); /* Títulos responsivos */
        }
    }

    header {
        color: var(--secondary);
    }

    .servicos-list {
        flex-basis: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 3em;

        .servico {
            padding: 2em;
            box-shadow: rgb(var(--secondary-dark-rgb), 0.25) 0px 1px 4px;
            border-radius: 5px;

            .servico-header {
                margin-bottom: 1em;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;

                h3 {
                    font-size: 1.2em;
                }
            }

            img {
                width: auto;
                height: 3em;
            }

            .description {
                text-align: justify;
                color: black;
                font-size: 1em;
            }
        }
    }
}

/* About-me */

#about-me {
    min-height: 25em;
    height: fit-content;
    display: flex;
    gap: clamp(var(--spacing-sm), 7%, var(--spacing-md));
    align-items: end;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--secondary);
    color: #fff;
    position: relative; /* Necessário para o posicionamento relativo do pseudo-elemento */
    background-image: url('../images/IMG_2323-Photoroomv2.png');
    background-position: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    header {
        color: #fa3f38;
    }

    .content {
        padding: clamp(var(--spacing-sm), 7%, var(--spacing-xl));
        max-width: 40em;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        font-size: 1em;
        .content-title {
            font-size: clamp(1.8rem, 3vw, 2.5rem); /* Títulos responsivos */
        }
    }   


    img {
        height: clamp(15em, 40vw, 40em);
        object-fit: cover;
        display: block; 
        position: relative;
    }

    .section-image{
        margin-top: 1em;
        display: none;
        width: fit-content;
        height: auto;
        position: relative;
        -webkit-mask-image: linear-gradient(to top, transparent 3%, rgba(var(--secondary-rgb, 0.1)) 100%);
    }

    

    ul {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);
    }

    .firstlist {
        padding: 0.5em;
        box-sizing: border-box;
        border-radius: 5px; 
        background-color: rgba(var(--primary-rgb), 0.1); /* Fundo suave */
        border-left: 5px solid var(--primary); /* Barra vertical para destaque */
        padding: 7px; /* Espaçamento interno */
        border-radius: 8px; /* Bordas arredondadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
        position: relative;
    }

    .sublist {
        padding-left: 1em;
        li {
            padding: 0.2em;
            list-style: disc;
            list-style-position: inside;
            background-color: transparent;
        }
    }

    @media (max-width: 850px) {
        background-image: none;
        justify-content: center;
        gap: 0;
        .section-image {
            display: block;
        }
        .content {
            padding-top: 0;
        }
    }
}




/* Footer Styling */
.footer {
    background-color: rgb(var(--secondary-dark-rgb));
    color: #fff;
    text-align: center;
    padding: clamp(var(--spacing-sm), 7%, var(--spacing-md));
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    font-size: 0.9em;

    .footer-text {
        font-weight: bold;
    }

    .footer-cnpj {
        font-size: 0.87em;
        opacity: 0.8;
    }
}
  
/* End about me */

 /* button */

.primary-button {
    width: 220px;
    height: 50px;
    font-size: 16px;
    border: none;
    outline: none;
    color: #fff;
    background: var(--primary);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.primary-button:hover {
    background-color: var(--primary);
    zoom: 1.02;
}

.primary-button:before {
    content: '';
    background: linear-gradient(45deg, var(--primary), var(--secondary-dark), var(--terciary));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1; /* Sempre visível */
    border-radius: 10px;
}

.primary-button:active {
    color: #000;
}

  .primary-button:active:after {
      background: transparent;
  }

.primary-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

  
@keyframes slide {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(-100%);
    }
}

/* End button */

.logos {
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}


.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide img {
    height: 2rem;
}